{% extends 'base.html' %}
{% load static %}


{% block content %}

<body class=" bg-light">

  {% include 'header.html' %}
  <!-- INTRODUCTION -->
  <div id="home" class=" container mt-5 pt-5">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="d-flex align-items-center" style="height: 458px;">
          <div>
            <h1 class=" font-weight-bold font-color">Hello!, I'm</h1>
            <h1 class=" font-weight-bold font-color"><span class="font-color-2">Fredrick </span> Mujumba</h1>
            <h1 class=" font-weight-bold font-color">Software <span class="font-color-2">Engineer.</span></h1>
            <p class=" font-color-3">I'm a freelance web developer from Dar es salaam. <br> I help brands turn their
              ideas
              into high quality products.</p>
          </div>

        </div>

      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="" style="border-radius: 300px 0px 300px 300px; background-color:#efefff00;">
          <img src="{% static 'img/fredmuju1.JPG' %}" alt="img" class="pt-2" width="100%" height="auto"
            style="border-radius: 300px 0px 300px 300px;">
        </div>

      </div>
    </div>

  </div>

  <!-- SKILLS -->
  <div id="skills" class=" container py-5">
    <h6 class=" text-center font-weight-bold pt-5" style="color: #b4b2c5;">MY SKILLS</h6>
    <h1 class=" text-center font-color font-weight-bold">My Proficiency</h1>

    <div class="row mt-5">
      <div class="col-lg-4 py-3">

        <div class="bg-white p-4 skills-card">
          <div class=" d-flex flex-row">
            <div style="border-radius: 15px; background-color:#ceeefa">
              <i class="fab fa-python fa-2x p-3 mx-1 font-color-2"></i>
            </div>
            <div class="pt-3 pl-3">
              <h2 class=" font-weight-bold font-color">Python</h2>
            </div>
          </div>
         
        </div>

      </div>
      <div class="col-lg-4 py-3">

        <div class="bg-white p-4 skills-card">
          <div class=" d-flex flex-row">
            <div style="border-radius: 15px; background-color:#cefadb">
              <h2 class=" font-weight-bold py-2 px-3 mx-1" style="color: rgb(12, 75, 51);">dj</h2>
            </div>
            <div class="pt-3 pl-3">
              <h2 class=" font-weight-bold font-color">Django</h2>
            </div>
          </div>
       
        </div>

      </div>

      <div class="col-lg-4 py-3">

        <div class="bg-white p-4 skills-card">
          <div class=" d-flex flex-row">
            <div style="border-radius: 15px; background-color:#fae0ce">
              <i class="fab fa-html5 fa-2x p-3 mx-1" style="color: #e44d27;"></i>
            </div>
            <div class="pt-3 pl-3">
              <h2 class=" font-weight-bold font-color">HTML5</h2>
            </div>
          </div>
         
        </div>

      </div>
      <div class="col-lg-4 py-3">

        <div class="bg-white p-4 skills-card">
          <div class=" d-flex flex-row">
            <div style="border-radius: 15px; background-color:#cedbfa">
              <i class="fab fa-css3-alt p-3 mx-1 fa-2x" style="color: #1a6fb4;"></i>
            </div>
            <div class="pt-3 pl-3">
              <h2 class=" font-weight-bold font-color">CSS3</h2>
            </div>
          </div>
          
        </div>

      </div>

      <div class="col-lg-4 py-3">

        <div class="bg-white p-4 skills-card">
          <div class=" d-flex flex-row">
            <div style="border-radius: 15px; background-color:#f6face">
              <i class="fab fa-js-square fa-2x p-3 mx-1" style="color: #ceb331;"></i>
            </div>
            <div class="pt-3 pl-3">
              <h2 class=" font-weight-bold font-color">JavaScript</h2>
            </div>
          </div>
          
        </div>

      </div>
      <div class="col-lg-4 py-3">

        <div class="bg-white p-4 skills-card">
          <div class=" d-flex flex-row">
            <div style="border-radius: 15px; background-color:#cee8fa">
              <img src="{% static 'icon/elephant.png' %}" alt="" width="30px" height="auto" class="m-3">
            </div>
            <div class="pt-3 pl-3">
              <h2 class=" font-weight-bold font-color">PostgreSQL</h2>
            </div>
          </div>
         
        </div>

      </div>

    </div>

  </div>

  <!-- PORTIFOLIO -->
  <div id="works" class=" container py-5">
    <h6 class="font-weight-bold pt-5" style="color: #b4b2c5;">PORTFOLIO</h6>
    <h1 class="font-color font-weight-bold">All Creative Works</h1>
    <style>
     
    </style>

    <div class="row mt-5">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">
        <div class=" d-flex flex-column">
          <div class="portifolio-card">
            <img src="{% static 'img/xss-scanner.png' %}" alt="" width="100%" height="auto"
              style="border-radius: 15px;">
            <div class="overlay">

              <div class=" d-flex flex-column mx-auto">
                <div>
                  <h4 class=" text-center font-weight-bold text-light heading">XSS Scanner</h4>
                </div>
                <div class=" d-flex justify-content-center">
                  <a href="http://xss-scanner.herokuapp.com/" target="_blank" class="work-link-color px-2">Visit site
                    <i class="fas fa-external-link-alt work-link-color p-2"></i>
                  </a>
                  <a href="" target="_blank" class="work-link-color px-2">GitHub
                    <i class="fab fa-github fa-lg work-link-color p-2"></i>
                  </a>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">
        <div class=" d-flex flex-column">
          <div class="portifolio-card">
            <img src="{% static 'img/ajbespoken.png' %}" alt="" width="100%" height="auto" style="border-radius: 15px;">
            <div class="overlay">
              <div class=" d-flex flex-column mx-auto">
                <div>
                  <h4 class=" text-center font-weight-bold text-light heading">AJ Bespoke</h4>
                </div>
                <div class=" d-flex justify-content-center">
                  <a href="https://ajbespoken.herokuapp.com/" target="_blank" class=" work-link-color px-2">Visit Site
                    <i class="fas fa-external-link-alt work-link-color p-2"></i>
                  </a>
                  <a href="" target="_blank" class=" work-link-color px-2">GitHub
                    <i class="fab fa-github fa-lg work-link-color p-2"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div id="about" class="container py-5 rounded-lg" style="background-color: #f8f8ff;">
    <h6 class="font-weight-bold pt-5" style="color: #b4b2c5;">NICE TO MEET YOU.</h6>
    <h1 class="font-color font-weight-bold">Hey, I'm Fredrick, <br> Software Engineer</h1>

    <p class="font-color-3">
      Hi, my name is Fredrick and I’m a freelance Web and Mobile app developer from Dar es salaam. I have over 4 years experience in
      leading teams and shipping complex digital products.
    </p>

    <p class="font-color-3">
      
    </p>

    <div class=" d-flex flex-row">
      <div>
        <img src="{% static 'img/fredmuju1.JPG' %}" alt="" width="80" height="80"
          class="rounded-circle" style="border: 3px solid white; background-color:#ceeefa;">
      </div>
      <div>
        <h5 class=" font-color font-weight-bold pt-2 pl-3">Fredrick Mujumba</h5>
        <p class="pl-3" style="color: #b4b2c5;">Software Engineer</p>
      </div>
    </div>

  </div>

  <div id="contact" class=" container my-5 pt-5">
    <div style="background-color: #e9f9fe; border-radius:15px;">
      <h6 class="font-weight-bold text-center pt-5" style="color: #b4b2c5;">CONTACT ME</h6>
      <h1 class="font-color font-weight-bold text-center">Got a Project? Lets Talk!</h1>

      <div class="d-flex flex-row justify-content-center mt-5 pt-5">
        <div>
          <i class="fas fa-envelope fa-2x m-1" style="color: #e96264;"></i>
        </div>
        <div>
          <h4 class=" font-weight-bold m-1" style="color: #b4b2c5;">fredmuju@gmail.com</h4>
        </div>

      </div>
      <div class="d-flex flex-row justify-content-center mb-5 pb-5">
        <div>
          <i class="fas fa-phone-square-alt fa-2x m-1" style="color: #e96264;"></i>
        </div>
        <div>
          <h4 class=" font-weight-bold m-1" style="color: #b4b2c5;">+255 789 809 257</h4>
        </div>

      </div>
      <div class="row p-5">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-sm-center  justify-content-center">
          <a class="navbar-brand " href="#home"><span class="heading font-weight-bold font-color"
            style="font-size: 22px !important;">Fred</span><span class="heading font-weight-bold font-color-2"
            style="font-size: 22px !important;">Muju</span></a>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-sm-center  justify-content-center">
          <div class="d-flex flex-row">
            <div class="nav-item">
              <a class="nav-link link-on-hover" href="#about">About</a>
            </div>
            <div class="nav-item">
              <a class="nav-link link-on-hover" href="#works">Works</a>
            </div>
            <div class="nav-item">
              <a class="nav-link link-on-hover" href="#skills">Skills</a>
            </div>
            <div class="nav-item">
              <a class="nav-link link-on-hover" href="#contact">Contact</a>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="container pb-3">
    <p class=" font-color">© 2020 | <i class="far fa-heart"></i> by Rexy</p>
  </div>

  <script>
    AOS.init();
  </script>
</body>

{% endblock %}