{% load static %}

<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-white p-3 fixed-top" id="home">
  <!-- <img src="" alt="" width="150px" height="auto"> -->
  <a class="navbar-brand " href=""><span class="heading font-weight-bold font-color"
      style="font-size: 22px !important;">Fred</span><span class="heading font-weight-bold font-color-2"
      style="font-size: 22px !important;">Muju</span></a>
  <button class="navbar-toggler p-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border:1px solid #130f49; border-radius:20px;">
    <i class="fas fa-bars fa-lg" style="color: #34a1cd !important;"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link link-on-hover" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-on-hover" href="#works">Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-on-hover" href="#skills">Skills</a>
      </li>     
      <li class="nav-item">
        <a class="nav-link link-on-hover" href="#contact">Contact</a>
      </li>

    </ul>

    <div class="d-flex flex-row">
      <div class=" mr-2">
        <i class="fab fa-github fa-lg m-2 font-color"></i>
      </div>
      <div class=" mr-2">
        <i class="fab fa-linkedin-in fa-lg m-2 font-color"></i>
      </div>
      <div class="mr-2">
        <i class="fab fa-instagram fa-lg m-2 font-color"></i>
      </div>
      <div class=" mr-2">
        <i class="fab fa-twitter fa-lg m-2 font-color"></i>
      </div>
      <div class=" mr-2">
        <i class="fab fa-facebook fa-lg m-2 font-color"></i>
      </div>
     
    </div>

  </div>
</nav>

